.section-expert-section {
    display: flex;
    flex-direction: column; /* Permite que a column-3 fique abaixo */
    width: 100%;
    padding: 7rem;
    margin-top: 2rem;
    background-color: #e0f7e9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center; /* Alinha horizontalmente ao centro */
    gap: 2rem; /* Espaçamento entre os elementos */
}

.column-1-and-2 {
    display: flex; /* Organiza column-1 e column-2 lado a lado */
    width: 100%;
    justify-content: space-around; /* Espaça as colunas */
    align-items: flex-start; /* Alinha ao topo */
}

.column-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column-2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-3 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}


.text-expert-section {
    font-size: 20px;
    color: var(--color-primary);
    width: 900px;
    text-align: justify;
    padding: 0 50px 50px 50px;
    font-family: 'Ysabeau Infant 100', sans-serif;
    border-radius: 10px;
    transition: none;
    transform: none;
}


.description-expert-section {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    color: var(--color-primary);
    font-family: 'Ysabeau SC', sans-serif;
}

.description-expert-section-cro {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    color: var(--color-primary);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin-left: 10px;
    margin-right: 10px;
}

.circle {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f2f2f2;
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 576px) {
    .section-expert-section {
        padding: 2rem;
        margin-top: 1em;
        display: block;
    }

    .circle {
        width: 150px;
        height: 150px;
    }

    .image {
        width: 150px;
        height: 150px;
    }

    .text-expert-section {
        font-size: 14px;
        padding: 10px;
    }

    .description-expert-section {
        font-size: 14px;
        margin-top: 5px;
    }

    .description-expert-section-cro {
        font-size: 12px;
        margin-top: 5px;
    }
}
