.section {
    display: flex;
    height: 70vh;
    margin: 0 5rem 5rem;
}

.column {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.card-location {
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.info-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.label {
    font-weight: bold;
    font-size: 24px;
    color: var(--color-primary);
    font-family: 'Ysabeau SC', sans-serif;

}

.value {
    margin-top: 5px;
    font-size: 16px;
    color: var(--color-primary);
    font-family: 'Ysabeau SC', sans-serif;

}

.map-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.map-inner {
    width: 80%;
    height: 80%;
    background-color: var(--color-quinary);
    border-radius: 30px;
}

@media only screen and (max-width: 576px) {
    .section {
        flex-direction: column;
        height: auto;
        margin: 0 2rem 2rem 2rem;
    }

    .column {
        flex: none;
        padding: 0;
    }

    .card-location {
        padding: 15px;
    }

    .info-field {
        margin-bottom: 30px;
    }

    .map-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .map-inner {
        width: 100%;
        height: 300px;
    }

    .label {
        font-size: 16px;
    }

    .value {
        font-size: 12px;
    }

}
