.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    margin-right: 10px;
    font-size: 30px;
    color: var(--color-primary);
    cursor: pointer;
}

.a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25D366;
    text-align: center;
    line-height: 60px;
    transition: background-color 0.3s;
}

.icon-fixed {

}

.whatsapp-button a:hover {
    background-color: #128C7E;
}
