.carousel-image {
    display: flex;
    position: relative;
    margin-top: 8em;
    margin-bottom: 4rem;
    max-height: 850px;
}

.carousel-image img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50vh;
    left: 25vh;
    text-align: initial;
    color: white;
    width: 1200px;
}

.carousel-caption h1 {
    font-size: 64px;
    font-weight: bold;
    padding: 10px;
    animation-name: fadeIn;
    animation-duration: 3s;
    font-variant: small-caps;
}

.carousel-caption h2 {
    font-size: 36px;
    padding: 10px;
    animation-name: fadeIn;
    animation-duration: 3s;
    font-family: 'Helvetica Neue',  sans-serif;
    font-weight: lighter;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .carousel-image {
        margin-top: 8rem;
        max-height: 400px;
        margin-bottom: 0;
    }

    .carousel-caption {
        position: absolute;
        top: 100px;
        left: 25px;
        text-align: initial;
        color: white;
        width: 90%;
    }

    .carousel-caption h1 {
        font-size: 24px;
        padding: 5px;
    }

    .carousel-caption h2 {
        font-size: 16px;
        padding: 5px;
    }
}
