.carousel-services-container{
    max-width: 100%;
    padding: 0;
    cursor: grab;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.cards-services-container{
    flex-direction: row;
    max-width: 100%;
    display: -webkit-box;
    justify-content: center;
    padding: 50px 0;
}

.carousel-services-inner{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 576px) {
    .carousel-services-container {
        margin-bottom: 0;
        margin-top: 0;
    }

    .cards-services-container {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .carousel-services-inner {
        max-width: 100%;
    }
}
