.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slide {
    width: 30%;
    background-color: #ffffff;
    transition: ease-in-out 0.9s;
    padding: 20px 0;
    border-radius: 10px;
    margin-left: 60px;
}

.slide:hover {
    box-shadow: 1px 1px 30px -15px var(--color-secondary);
    transition: ease-in-out 0.9s;
    transform: scale(1.2);
    background-color: var(--color-sixth);
}

.slide h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--color-primary);
    font-family: 'Ysabeau SC', sans-serif;
    text-decoration: underline;
}

.slide p {
    font-size: 16px;
    color: var(--color-secondary);
    font-family: 'Ysabeau SC', sans-serif;
    margin-bottom: 5px;
    padding: 10px;
}

.slide img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 1.5rem;

}

.slide img:hover {
    transform: translateY(0);
    animation: float 4s ease-in-out infinite;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 576px) {
    .slide {
        width: 40%;
    }

    .slide h3 {
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }

    .slide p {
        display: none;
    }

    .slide img {
        width: 150px;
        height: 150px;
        margin-top: 1rem;
    }
}
