.schedule-container {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 100px;
    margin-bottom: 100px;
}

.schedule-text {
    flex: 3;
    display: flex;
    justify-content: right;
    color: var(--color-primary);
    font-size: 36px;
    margin: 0;
    cursor: pointer;
    text-decoration: underline;
}

.set-call-to-action {
    flex: 1;
    display: flex;
    justify-content: center;
    color: var(--color-primary);
    font-size: 48px;
    margin: 0;
    cursor: pointer;
}

