.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #2d2d2d;
    height: 100px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 70px;
}

.navbar-logo {
    font-size: 20px;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
}

.navbar-item {
    margin-left: 20px;
    padding: 10px;
}

.menu-button {
    display: none;
}

.whatsapp-icon {
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: row;
        padding: 0 10px;
    }

    .navbar-item {
        margin: 10px 0;
    }
}

