.section-contact {
    display: flex;
    margin: 0 0 5rem;
    max-height: 40rem;
}

.column-contact {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--color-secondary);
}

.column-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--color-secondary);
}


.card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    height: 100%;
}

.contact-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 30px;
}

.icon {
    margin-right: 10px;
    font-size: 24px;
    color: var(--color-quaternary);
    cursor: pointer;
}

.contact-info {
    font-size: 20px;
    color: var(--color-primary);
    align-items: initial;
    cursor: pointer;
    font-family: 'Ysabeau SC', sans-serif;
    text-decoration: none;
}

.contact-info:hover {
    color: var(--color-secondary);
    font-weight: lighter;
    transform: translateY(0);
    animation: bounce 0.5s ease-in-out;
}

.image_clinic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.phone-ref {
    color: var(--color-primary);
    font-size: 20px;
    font-family: 'Ysabeau SC 400', sans-serif;
    text-decoration: none;
}

.instagram-ref {
    color: var(--color-primary);
    font-size: 20px;
    font-family: 'Ysabeau SC 400', sans-serif;
    text-decoration: none;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 576px) {
    .section-contact {
        flex-direction: column;
        margin-bottom: 0;
        max-height: none;
    }

    .column-contact {
        flex: content;
        background-image: none;
        justify-content: center;
    }

    .column-image {
        display: none;
    }

    .card {
        align-items: center;
        justify-content: flex-start;
    }

    .contact-field {
        padding: 15px;
    }

    .icon {
        font-size: 18px;
    }

    .contact-info {
        font-size: 16px;
        font-weight: lighter;
    }
}
