.header {
    background-color: var(--color-sixth);
    padding: 20px;
    text-align: center;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    color: var(--color-primary);
    font-size: 36px;
    margin: 0;
}
