.header {
    background-color: var(--color-sixth);
    padding: 20px;
    text-align: center;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    color: var(--color-primary);
    font-size: 48px;
    margin: 0;
    font-family: 'Helvetica Neue',  sans-serif;
    font-weight: lighter;
}

@media screen and (max-width: 1200px){
    .header-title {
        font-size: 24px;
    }
}
