#root {
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.space-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    transition: ease-in-out 0.9s;
}

.space-container:hover {
    transition: ease-in-out 0.9s;
}
