:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--color-quinary);
    margin-top: 4em;

    color-scheme: light dark;

    --color-primary: rgba(70, 117, 101, 1);
    --color-secondary: rgba(132, 166, 138, 1);
    --color-tertiary: rgba(98, 144, 124, 1);
    --color-quaternary: rgba(170, 189, 149, 1);
    --color-quinary: rgba(237, 216, 198, 1);
    --color-sixth: rgba(240, 234, 227, 1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
