@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=M+PLUS+Rounded+1c:wght@300;400&family=Nanum+Gothic:wght@400;700&family=Ysabeau+SC:wght@1;100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Ysabeau+SC:wght@1;100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@100&display=swap');

:root {
    font-family:
    'Inconsolata',
    'Ysabeau SC',
    'Nanum Gothic',
    'Ysabeau Infant',
    monospace sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: white;
    margin:  0;
    padding: 0;
    box-sizing: border-box;


    color-scheme: light dark;

    --color-primary: rgba(70, 117, 101, 1);
    --color-secondary: rgba(132, 166, 138, 1);
    --color-tertiary: rgba(98, 144, 124, 1);
    --color-quaternary: rgba(170, 189, 149, 0.62);
    --color-quinary: rgba(237, 216, 198, 1);
    --color-sixth: rgb(255, 255, 255);
    --color-seventh: rgba(237, 216, 198, 0.38);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--color-sixth);
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 5px;
}
